<header class="container--nav" >
  <ul class="nav__list" >
    <li><a href="https://www.google.com/intl/es/gmail/about/">Gmail</a></li>
    <li><a href="https://www.google.com.co/imghp?hl=es-419&ogbl">Imágenes</a></li>
    <picture>
      <a href="https://workspace.google.com/">
        <img class="list__apps--icon" src="../assets/icons/menu-apps-icon.png" alt="apps">
      </a>
    </picture>
    <picture>
      <a href="https://accounts.google.com/v3/signin/identifier?dsh=S688820052%3A1687378795845676&continue=https%3A%2F%2Ftakeout.google.com%2F%3Fhl%3Des&followup=https%3A%2F%2Ftakeout.google.com%2F%3Fhl%3Des&hl=es&ifkv=Af_xneFO1cPsvo3xNl6Mpzdz8GHvjlYEZahuwsDkKLnk7CAHQVOqfEhs2iYO5dMrDEb9wtI3ijA8mg&osid=1&passive=1209600&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
        <img class="list__user--icon" src="../assets/icons/user-icon.png" alt="icon user">
      </a>
    </picture>
  </ul>
</header>
<main>
  <picture class="container--logo" >
    <img class="logo--google" src="../assets/imgs/google-logo.png" alt="logo google">
  </picture>
  <section class="container--search" >
    <div class="search__bar" >
      <img class="bar__icon--magnifying--glass" src="../assets/icons/magnifying-glass-icon.png" alt="icon magnifying glass">
      <textarea class="bar__input"></textarea>
      <img class="bar__icon--microphone" src="../assets/icons/microphone-icon.png" alt="icon microphone">
      <a href="https://lens.google/">
        <img class="bar__icon--camera" src="../assets/icons/camera-icon.svg" alt="icon camera">
      </a>
    </div>
    <div class="search__container--btn" >
      <a class="btn" id="search" href="https://www.google.com">Buscar con Google</a>
      <a class="btn" id="lucky" href="https://www.google.com/doodles">Voy a tener suerte</a>
    </div>
  </section>
</main>
<footer class="container--hyperlinks" >
  <section class="hyperlinks__container--location" >
    <p class="location__country" >Colombia</p>
  </section>
  <section class="hyperlinks__list" >
    <ul>
      <li><a href="https://about.google/">Sobre Google</a></li>
      <li><a href="https://ads.google.com/">Publicidad</a></li>
      <li><a href="https://smallbusiness.withgoogle.com/">Negocios</a></li>
      <li><a href="https://www.google.com/search/howsearchworks/">Cómo funciona la Búsqueda</a></li>
    </ul>
    <ul>
      <li><a href="https://policies.google.com/privacy">Privacidad</a></li>
      <li><a href="https://policies.google.com/terms">Condiciones</a></li>
      <li><a href="">Preferencias</a></li>
    </ul>
  </section>
</footer>